.data {
    border-collapse: collapse;
}

.data td, .data th {
    padding: 5px;
}

.data td {
    border-bottom: 1px solid #DDD;
}

thead tr {
    background-color: #999;
    color: #FFF;
    font-weight: bold;
    text-align: left;
}